

.range-filed-data{
    -webkit-appearance: none;
    margin-right: 15px;
     width: 66.66666667% !important;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
   // background-image: linear-gradient(#ff4500, #ff4500);
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

